.main-content {
    padding-left: 0px !important;
}
.navbar{
    z-index: 11;
}

.navbar .logo a {
    color: #c5c6c7;
    font-weight: 700;
    padding: 30px 50px;
    font-size: 2rem;
    letter-spacing: 5px;
    position: relative;
}

.navbar .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 1.5rem;
    color: #c5c6c7;
}

/* .navbar .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #c5c6c7;
    border-left: 5px solid #c5c6c7;
    bottom: 12px;
    left: 5px;
}

.navbar .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid #c5c6c7;
    border-right: 5px solid #c5c6c7;
    top: 9px;
    left: 250px;
} */

.navbar .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;

}

.navbar .nav-toggler span{
    height: 2px;
    width: 18px;
    background: #c5c6c7;
    display: inline-block;
    position: relative;
}

.navbar .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: #c5c6c7;
    position: absolute;
    top: -6px;
    left: 0;
}

.navbar .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: #c5c6c7;
    position: absolute;
    top: 6px;
    left: 0;
}

.navbar li a {
    font-size: .825rem;
    line-height: 1.75rem;
    font-weight: bold;
    display: block;
    color: #c5c6c7;
    padding: 5px 15px;
    /* border-bottom: 1px solid var(--bg-black-50); */
}

.bar-link{
    border-bottom: 2px dotted #66fcf1;
}

.navbar li a.active {
    color: #c5c6c7 !important;
}

@media (max-width:991px) {

    .navbar-toggle{
        position: relative;
        width: 10%;
        top: -42px;
        left: 85%;
        color: black;
        font-weight: bold;
    }

    .navbar {
        padding-top: 30px;
        transition: all 1s ease-in-out;
    }
}

@media (max-width:767px) {

    .navbar{
        padding-top: 30px;
    }
}

.icons-color{
    color: #c5c6c7;
}
